<figure class="appearence">
    <div class="appearence__img">
        <img src="./assets/img/bulbizarre.jpg" alt="Bulbizarre" />
    </div>
    <figcaption class="appearence__details">Pokémon Graine. Taille : 0.7m, poids : 6.9kg</figcaption>
</figure>