<figure class="appearence">
    <div class="appearence__img">
        <img src="./assets/img/mascotte3.png" alt="trésor tronçoneuse" />
    </div>
    <figcaption class="appearence__details">FONDANT ! FONDAAANNNTTT !!!!</figcaption>
</figure>