<section class="attack">
    <div class="attack__cost">
        <img src="./assets/img/leaf.png" alt="type feuille" />
        <img src="./assets/img/leaf.png" alt="type feuille" />
    </div>
    <div class="attack__description">
        <span class="attack__name">Vampigraine</span>
        <span class="attack__details">A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirez 1 marqueur de dégâts de Bulbizarre.
        </span>
    </div>
    <div class="attack__dps">
        <p>20</p>
    </div>
</section>