<section class="contact"> 
    <h2>Contactez Nous!</h2>
    <div class="contact__form">
        <div class="container">
            <form class="form">
                <div class="form__group">
                    <input type="text" class="form__input" id="nom" placeholder="Votre Nom" required>
                </div>
                <div class="form__group">
                    <input type="email" class="form__input" id="email" placeholder="Votre Email" required>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" id="sujet" placeholder="Votre Sujet" required>
                </div>
                <div class="form__message">
                    <label for="message" class="form__message-label">Votre Message:</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form__input message__input" required></textarea>
                </div>

                <div class="submit">
                    <button class="submitBtn">Envoyer &rarr;</button>
                </div>
            </form>
        </div>
    </div>
</section>