<section class="environment"> 
    <h2>Nos Engagements</h2>
    <div class="mosaique">
        <figure>
            <img class="mosaique__sante" src="./assets/img/nos1.webp" alt="Santé"/>
            <figcaption>Santé et Nutrition</figcaption>
        </figure>
        <figure>
            <img class="mosaique__agri" src="./assets/img/nos2.webp" alt="Agriculture"/>
            <figcaption>Agriculture</figcaption>
        </figure>

        <figure>
            <img class="mosaique__env" src="./assets/img/nos3.webp" alt="Environnement"/>
            <figcaption>Environnement</figcaption>
        </figure>

        <figure>
            <img class="mosaique__commu" src="./assets/img/nos4.webp" alt="Communauté"/>
            <figcaption>Communautés</figcaption>
        </figure>
    </div>
</section>