<header class="header">
    <h1 class="header__title">BIENVENUE SUR LE SITE DES <em class="header__title--bold">CHOCOVORES</em></h1>
    <img class="header__mascotte" src="./assets/img/m1-600.png" alt="Chocovore"/>
    <div class="header__text">
        <p>Découvre la puissance de nos céréales au cœur fondant, FONDAANNTT !</p>
        <p>Du bon chocolat dans une céréale croustillante : un Trésor pour les Chocovores!</p>
    </div>
</header>
<svg xmlns="./assets/img/wave.svg" viewBox="0 0 1440 320">
    <path fill="#e72d2d" fill-opacity="1" d="M0,256L288,64L576,160L864,32L1152,128L1440,256L1440,0L1152,0L864,0L576,0L288,0L0,0Z"></path>
</svg>