<header class="identity">
    <div>
        <p class="identity__evolution">Pokémon de base</p>
        <h1 class="identity__name">Bulbizarre</h1>
    </div>
    <div>
        <span class="identity__pv">40 PV</span>
        <img src="./assets/img/leaf.png" alt="type feuille" />
    </div>
</header>