<main>
    <div class="main__text">
        <h2>Ensemble c'est tellement bon</h2>
        <p>Une céréale qui procure un vrai plaisir gourmand aux enfants et aux adultes grâce à sa recette unique qui allie le bon goût du chocolat, un cœur fondant avec un extérieur croquant. Idéal pour partager en famille ou entre amis, c'est la petite touche qui rend ces moments encore plus joyeux!</p>
    </div>
    <section class="slider">
        <div class="slides">
            <div class="slide">
                <figure>
                    <img class="" src="./assets/img/b_noisette.jpg" alt="Trésor aux noisettes"/>
                    <figcaption>Trésor Chocolat Noisettes</figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure>
                    <img class="" src="./assets/img/b_lait.jpg" alt="Trésor au chocolat au lait"/>
                    <figcaption>Trésor Chocolat au Lait</figcaption>
                </figure>       
            </div>
            <div class="slide">
                <figure>
                    <img class="" src="./assets/img/b_noir.jpg" alt="Trésor au chocolat au noir"/>
                    <figcaption>Trésor Chocolat Noir</figcaption>
                </figure> 
            </div>
            <div class="slide">
                <figure>
                    <img class="" src="./assets/img/b_duo.jpg" alt="Trésor duo choco"/>
                    <figcaption>Trésor Duo Choco</figcaption>
                </figure> 
            </div>
            <div class="slide">
                <figure>
                    <img class="" src="./assets/img/b_caramel.jpg" alt="Trésor au caramel"/>
                    <figcaption>Trésor goût Caramel et Cacahuètes</figcaption>
                </figure> 
            </div>
            <div class="slide">
                <figure>
                    <img class="" src="./assets/img/b_rng.jpg" alt="Trésor aléatoire"/>
                    <figcaption>Trésor Choco Roulette</figcaption>
                </figure> 
            </div>
        </div>
    </section>
