<section class="tableaux">
    <div class="tableaux__nav">
        <a id="tableaux__nav--1" href="#tab1" class="active">Ingédients</a>
        <a id="tableaux__nav--2" href="#tab2">Valeurs Nutritionnelles</a>
    </div>
    <div id="tab1" class="tableaux__tab">
        <h2>Ingédients</h2>
        <p><b>Farines de céréales</b> (blé{26%}, avoine complète {17%}, riz {11%}), <b>fourrage chocolat noisettes</b> (sucre, huiles végétales [colza, palme], chocolat {4%} [sucre, pâte de cacao], maltodextrine, noisettes(296), cacao maigre en poudre, petit-lait en poudre, lait écrémé en poudre, émulsifiant [Lécithine de tournesol], arôme naturel), <b>sucre</b>, <b>sel</b>, <b>colorant</b> (caroténoïdes, rocou), <b>antioxydant</b> (palmitate d'ascorbyle, alpha-tocophérol). <b>Vitamines et minéraux</b> : vitamines (niacine, B6, B2, B1, acidefolique, B12) et fer.</p>
    </div>
    <div id="tab2" class="tableaux__tab hide">
        <h2>Valeurs Nutritionnelles</h2>
        <table>
            <thead>
                <tr>
                    <th class="bold">Valeurs nutritionnelles moyennes</th>
                    <th class="bold">Pour 100g</th>
                    <th class="bold">Par portion (30g)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bold">Énergie</td>
                    <td>2401/576 kJ/kcal</td>
                    <td>138/33 kJ/kcal</td>
                </tr>
                <tr>
                    <td class="bold">Matières grassses</td>
                    <td>36.6 g</td>
                    <td>9.8 g</td>
                </tr>
                <tr>
                    <td>— dont acides gras saturés</td>
                    <td>21.2 g</td>
                    <td>4.3 g</td>
                </tr>
                <tr>
                    <td class="bold">Glucides</td>
                    <td>52.5 g</td>
                    <td>17.2 g</td>
                </tr>
                <tr>
                    <td>— dont sucres</td>
                    <td>52.2 g</td>
                    <td>17.1 g</td>
                </tr>
                <tr>
                    <td class="bold">Protéines</td>
                    <td>8.3 g</td>
                    <td>2.6 g</td>
                </tr>
                <tr>
                    <td class="bold">Sel</td>
                    <td>0.280 g	</td>
                    <td>0.066 g</td>
                </tr>
            </tbody>
        </table>

    </div>
</section>