@import "./reset.scss";

@font-face {
  font-family: "alphakindregular";
  src: url("../fonts/alphakind/alphakind-webfont.woff2") format("woff2"),
    url("../fonts/alphakind/alphakind-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "the_bold_fontbold";
  src: url("../fonts/thebold/theboldfont-webfont.woff2") format("woff2"),
    url("../fonts/thebold/theboldfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ----- */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

figcaption {
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -1px;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 67%,
      rgba(0, 0, 0, 0.67) 100%
    )
    #e72d2d;
}

.header__title {
  font-family: "the_bold_fontbold";
  color: white;
  display: inline-block;
  width: 85%;
  margin-top: 20px;
  font-size: 26px;
}

.header__title--bold {
  font-family: "alphakindregular";
  font-size: 28px;
}

.header__mascotte {
  width: 80%;
}
