@import "./styles/reset.scss";
@import "./styles/header.scss";
@import "./styles/slider.scss";
@import "./styles/tableaux.scss";
@import "./styles/environment.scss";

/* ----- */

@font-face {
  font-family: "alphakindregular";
  src: url("../fonts/alphakind/alphakind-webfont.woff2") format("woff2"),
    url("../fonts/alphakind/alphakind-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "the_bold_fontbold";
  src: url("../fonts/thebold/theboldfont-webfont.woff2") format("woff2"),
    url("../fonts/thebold/theboldfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bubbble_gumlight";
  src: url("../fonts/bubble/bubbblegum-light-webfont.woff2") format("woff2"),
    url("../fonts/bubble/bubbblegum-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ----- */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "bubbble_gumlight";
  text-align: center;
  font-weight: 900;
}
