@import "./reset.scss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

figcaption {
  font-weight: bold;
}
