.contact {
  h2 {
    font-family: "alphakindregular";
    font-size: 30px;
    margin: 60px 0 30px;
  }
}

@media (min-width: 900px) {
  .contact h2 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .contact h2 {
    font-size: 50px;
  }
}
/**/

.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.container {
  width: 100%;
  background-color: #222222;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
}

.form__group {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;
  position: relative;
}

.form__input {
  font-size: 16px;
  font-family: inherit;
  padding: 3px 10px;
  border-radius: 3px;
  border: none;
  border-bottom: 4px solid transparent;
  width: 100%;
  transition: all 0.3s;
}

.form__input::-webkit-input-placeholder {
  color: #000;
  transform: translateY(4px);
}

.form__input:focus::-webkit-input-placeholder {
  visibility: hidden;
  opacity: 0;
}

.form__input:focus {
  outline: none;
  border-bottom: 4px solid #a5ee6e;
  width: 90%;
  transition: all 0.3s;
}

.form__input:focus:invalid {
  border-bottom: 4px solid #e94a2f;
}

.form__input:focus + .form__label {
  opacity: 1;
  font-size: 20px;
}

.form__message,
.form__message .message__input {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.submitBtn {
  display: block;
  padding: 5px 30px;
  border: none;
  outline: none;
  background-color: #6fcffb;
  border-radius: 30px;
  margin: 20px auto;
  font-size: 25px;
  font-family: inherit;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: all 0.2s;
}

.submitBtn:hover {
  transform: scale(1.02) translateY(-2px);
}
.submitBtn:active {
  transform: scale(0.98) translateY(1px);
}
