.environment {
  h2 {
    font-family: "alphakindregular";
    font-size: 30px;
    margin: 60px 0 30px;
  }

  img {
    width: 170px;
    padding: 10px 10px;
  }
}

.mosaique {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 340px;
  margin: 0 auto;

  figure {
    position: relative;
  }

  figcaption {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
  }
}

@media (min-width: 600px) {
  .mosaique {
    width: 680px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
  }
}

@media (min-width: 900px) {
  .environment h2 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .environment h2 {
    font-size: 50px;
  }
}
