.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -1px;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 67%,
      rgba(0, 0, 0, 0.67) 100%
    )
    #e72d2d;
}

.header__title {
  font-family: "the_bold_fontbold";
  color: white;
  display: inline-block;
  width: 85%;
  margin-top: 1.25rem;
  font-size: 1.75rem;
}

.header__title--bold {
  font-family: "alphakindregular";
  font-size: 1.8rem;
}

.header__mascotte {
  width: 80%;
  max-width: 500px;
}

.header__text {
  margin: 0 10px 20px;
  padding: 10px 10px;
  background-color: white;
  border-radius: 20px 0 20px 0;
  max-width: 800px;
  box-shadow: 3px 7px rgb(50 50 50 / 60%);
}

.header__text p {
  color: black;
  font-size: 20px;
}

@media (min-width: 900px) {
  .header__title {
    font-size: 60px;
  }
  .header__title--bold {
    font-size: 60px;
  }
}
