.hide {
  display: none;
}

.tableaux__nav {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.tableaux a {
  display: block;
  font-family: "alphakindregular";
  margin: 1vw;
  padding: 0.8vw;
  text-align: center;
  background-color: #fff;
  color: #ddaa3b;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 20px 0 20px 0;
  box-shadow: 3px 7px rgb(111 110 106 / 60%);
  transition: 0.5s;
  width: 300px;
}

.tableaux a:hover {
  background-color: #ddaa3b;
  color: #fff;
}

.active {
  background-color: #e72d2d !important;
  color: #fff !important;
}

.tableaux__tab {
  padding: 0 10%;

  p {
    max-width: 1100px;
    margin: 0 auto;
  }

  b {
    font-family: "the_bold_fontbold";
  }
}

.tableaux h2 {
  font-family: "alphakindregular";
  font-size: 35px;
  margin-bottom: 40px;
}

.bold {
  font-family: "the_bold_fontbold";
}

.tableaux__tab {
  table {
    margin: 0 auto;
    width: 100%;
    max-width: 760px;
    background-color: #aadaf9;
    font-size: 12px;
    color: #1e2136;
    border-radius: 24px 0;
    th {
      padding: 1rem 0.5rem;
      border-bottom: 2px solid #fff;
    }
    tr {
      border-bottom: 2px solid #fff;
    }
    td {
      padding: 1rem 0.5rem;
      text-align: left;
    }
  }
}

@media (min-width: 500px) {
  .tableaux__nav {
    flex-direction: row;
  }
  .tableaux a {
    font-size: 24px;
  }
  .tableaux h2 {
    font-size: 50px;
  }

  .tableaux__tab {
    table {
      margin: 0 auto;
      width: 100%;
      max-width: 760px;
      background-color: #aadaf9;
      font-size: 15px;
      color: #1e2136;
      border-radius: 24px 0;
      th {
        padding: 1rem;
      }
      td {
        padding: 1rem;
      }
    }
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 900px) {
  .tableaux__tab p {
    font-size: 24px;
  }
}
