<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="assets/scss/styles.scss">
    <title>Bulbizarre</title>
  </head>
  <body>
    include includes/identity.pug
    include includes/appearence.pug
    include includes/attack.pug
    include includes/relations.pug
    include includes/pokedex.pug
  </body>
</html>
